.header{
    // height: 150px;
    width: 100%;
    // padding: 10px 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
   &__logo{
    width: 145px;
    height: 80px;
    img{
        height: 100%;
        width: 100%;
        object-fit: contain;
    }
   }
}