// Primary theme color
$primary-color:#f8bbd0;
$primary-dark-color:#c4869f;
$primary-light-color:#ffeeff;

// Secondary theme color
$secondary-color:#9c27b0;
$secondary-dark-color:#6a0080;
$secondary-light-color:#d05ce3;


// Font color
$primary-text-color:#000;


// Sizes
$icon-font-size:30px